# Ignore face data folders
images/
known_faces/

# Ignore database
database.db
*.db
instance/

# Ignore generated attendance file
Attendance.csv

# Ignore virtual environments
.venv/
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore logs
*.log

# Ignore model/cache files
*.pkl
*.h5
*.whl